---
layout: compress
---
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ site.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="{{ '/assets/css' | absolute_url }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | absolute_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | absolute_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/magnific-popup.css' | absolute_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/jquery-ui.css' | absolute_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/owl.carousel.min.css' | absolute_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/owl.theme.default.min.css' | absolute_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/bootstrap-datepicker.css' | absolute_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/flaticon.css' | absolute_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/aos.css' | absolute_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/fancybox.min.css' | absolute_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/style(1).css' | absolute_url }}" />
  </head>
  <body data-aos-easing="slide" data-aos-duration="800" data-aos-delay="0">
    <div class="site-wrap">
      <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body">
          <ul class="site-nav-wrap">
            <li class="active"><a href="{{ 'index.html' | absolute_url }}">Home</a></li>
            <li><a href="{{ 'photos.html' | absolute_url }}">Photos</a></li>
            <li><a href="{{ 'bio.html' | absolute_url }}">Bio</a></li>
            <li><a href="{{ 'blog.html' | absolute_url }}">Blog</a></li>
            <li><a href="{{ 'contact.html' | absolute_url }}">Contact</a></li>
          </ul>
          <ul class="site-nav-wrap">
            <li>
              <a href="{{ '#' | absolute_url }}"><span class="icon-facebook"></span></a>
            </li>
            <li>
              <a href="{{ '#' | absolute_url }}"><span class="icon-twitter"></span></a>
            </li>
            <li>
              <a href="{{ '#' | absolute_url }}"><span class="icon-instagram"></span></a>
            </li>
          </ul>
        </div>
      </div>
      <header class="header-bar d-flex d-lg-block align-items-center aos-init aos-animate" data-aos="fade-left">
        <div class="site-logo">
          <a href="{{ 'index.html' | absolute_url }}">Moore Hill</a>
        </div>
        <div class="d-inline-block d-xl-none ml-md-0 ml-auto py-3" style="position: relative; top: 3px;">
          <a href="{{ '#' | absolute_url }}" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a>
        </div>
        <div class="main-menu">
          <ul class="js-clone-nav">
            <li class="active"><a href="{{ 'index.html' | absolute_url }}">Home</a></li>
            <li><a href="{{ 'photos.html' | absolute_url }}">Photos</a></li>
            <li><a href="{{ 'bio.html' | absolute_url }}">Bio</a></li>
            <li><a href="{{ 'blog.html' | absolute_url }}">Blog</a></li>
            <li><a href="{{ 'contact.html' | absolute_url }}">Contact</a></li>
          </ul>
          <ul class="social js-clone-nav">
            <li>
              <a href="{{ '#' | absolute_url }}"><span class="icon-facebook"></span></a>
            </li>
            <li>
              <a href="{{ '#' | absolute_url }}"><span class="icon-twitter"></span></a>
            </li>
            <li>
              <a href="{{ '#' | absolute_url }}"><span class="icon-instagram"></span></a>
            </li>
          </ul>
        </div>
      </header>

      {{ content }}

    </div>
    <script src="{{ '/assets/js/jquery-3.3.1.min.js' | absolute_url }}"></script>
    <script src="{{ '/assets/js/jquery-migrate-3.0.1.min.js' | absolute_url }}"></script>
    <script src="{{ '/assets/js/jquery-ui.js' | absolute_url }}"></script>
    <script src="{{ '/assets/js/popper.min.js' | absolute_url }}"></script>
    <script src="{{ '/assets/js/bootstrap.min.js' | absolute_url }}"></script>
    <script src="{{ '/assets/js/owl.carousel.min.js' | absolute_url }}"></script>
    <script src="{{ '/assets/js/jquery.stellar.min.js' | absolute_url }}"></script>
    <script src="{{ '/assets/js/jquery.countdown.min.js' | absolute_url }}"></script>
    <script src="{{ '/assets/js/jquery.magnific-popup.min.js' | absolute_url }}"></script>
    <script src="{{ '/assets/js/bootstrap-datepicker.min.js' | absolute_url }}"></script>
    <script src="{{ '/assets/js/aos.js' | absolute_url }}"></script>
    <script src="{{ '/assets/js/jquery.fancybox.min.js' | absolute_url }}"></script>
    <script src="{{ '/assets/js/main.js' | absolute_url }}"></script>

    <script async="" src="{{ 'js' | absolute_url }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-xxxxxxxxxx-xx");
    </script>

    <span
      id="buffer-extension-hover-button"
      style="
        display: none;
        position: absolute;
        z-index: 8675309;
        width: 100px;
        height: 25px;
        background-image: url('chrome-extension://noojglkidnpfjbincgijbaiedldjfbhh/data/shared/img/buffer-hover-icon@2x.png');
        background-size: 100px 25px;
        opacity: 0.9;
        cursor: pointer;
        top: 340px;
        left: 305px;
      "
    ></span>
  </body>
</html>
