---
layout: compress
---
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | absolute_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | absolute_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/magnific-popup.css' | absolute_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/jquery-ui.css' | absolute_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/owl.carousel.min.css' | absolute_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/owl.theme.default.min.css' | absolute_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/bootstrap-datepicker.css' | absolute_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/flaticon.css' | absolute_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/aos.css' | absolute_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/fancybox.min.css' | absolute_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/style(1).css' | absolute_url }}" />

    {% seo %}

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

  </head>

  {% capture layout %}
  {% if page.layout %}layout-{{ page.layout }}
  {% endif %}
  {% endcapture %}

  <body class="{{layout}}" data-aos-easing="slide" data-aos-duration="800" data-aos-delay="0">
    <div class="site-wrap">

      <!-- {% include navigation.html %} -->

      <main class="main-content">
        <div class="container-fluid photos">
          <div class="row align-items-stretch">
      
            {{ content }}

          </div>
          <div class="row justify-content-center">
            <div class="col-md-12 text-center py-5">
              <p>
                Copyright ©
                <script type="text/javascript" async="" src="{{ '/assets/js/analytics.js' | absolute_url }}"></script>
                <script>
                  document.write(new Date().getFullYear());
                </script>
                2021 All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com/" target="_blank">Colorlib</a>
              </p>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script src="{{ '/assets/js/jquery-3.3.1.min.js' | absolute_url }}"></script>
    <script src="{{ '/assets/js/jquery-migrate-3.0.1.min.js' | absolute_url }}"></script>
    <script src="{{ '/assets/js/jquery-ui.js' | absolute_url }}"></script>
    <script src="{{ '/assets/js/popper.min.js' | absolute_url }}"></script>
    <script src="{{ '/assets/js/bootstrap.min.js' | absolute_url }}"></script>
    <script src="{{ '/assets/js/owl.carousel.min.js' | absolute_url }}"></script>
    <script src="{{ '/assets/js/jquery.stellar.min.js' | absolute_url }}"></script>
    <script src="{{ '/assets/js/jquery.countdown.min.js' | absolute_url }}"></script>
    <script src="{{ '/assets/js/jquery.magnific-popup.min.js' | absolute_url }}"></script>
    <script src="{{ '/assets/js/bootstrap-datepicker.min.js' | absolute_url }}"></script>
    <script src="{{ '/assets/js/aos.js' | absolute_url }}"></script>
    <script src="{{ '/assets/js/jquery.fancybox.min.js' | absolute_url }}"></script>
    <script src="{{ '/assets/js/main.js' | absolute_url }}"></script>

    {% if jekyll.environment == 'production' %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PCLBJ6Q9S6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-PCLBJ6Q9S6');
    </script>
    {% endif %}

  </body>
</html>
